.g-main {
    margin-top: 1cm;
    text-align: center;
}
.g-text {
    text-align: start;
    font-size: large;
    font-weight: 500;
    margin: 1cm;
    margin-top: 20px;
}
body {
    background-color: rgb(0, 136, 255);
    background-color: #8EC5FC;
background-image: linear-gradient(to right, #b88bff 0%, #8052ff 100%);

}
.cg {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
                  "img header"
                  "img txt" ;
}
@media screen and (max-width: 500px){ 
    .cg {
        display: grid;
        grid-template-columns: repeat(1, );
        grid-template-rows: repeat(3, );
    }
}
#grid > img {
    grid-area: img;
}
#grid > h1 {
    grid-area: header;
}
#grid > p {
    grid-area: txt;
}
#cg {
    width: 400px;
}
#cg-head {
    align-self: self-end;
    margin-left: 1cm;
    margin-bottom: 1cm;
}


















/* 
.grid-p{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#gtxt {
    vertical-align: middle;
} */