body {
    background-color: rgb(0, 136, 255);
    background-color: #8EC5FC;
background-image: linear-gradient(to right, #8EC5FC 0%, #E0C3FC 100%);

}

.bold {
    font-weight: bolder;
}
.nav-link {
    font-size: larger;
}

.btn-grad {
    background-image: linear-gradient(to right, #1230a8 0%, #bfe9ff  51%, #1230a8  100%);
    margin: 1cm;
    padding: 15px 15px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 0px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: double;
  }
 

.grid {
    display: grid;
    margin-left: 2cm;
    margin-right: 2cm;
    grid-template-columns: repeat(3, 1fr);
}

.to {
    vertical-align: bottom;
}